@import '@renderer/assets/index.css';


.SideBar {
    width: 250px;
    display: flex;
    background: linear-gradient(to bottom, var(--purple-fading), 10%, var(--background-color));
    overflow-y: auto;
    border-right: 1px solid var(--deep-black);
    flex-direction: column;
    padding: 10px;
}

.SideBar::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
.SideBar::-webkit-scrollbar-track {
    background: #00000000; 
  }
   
  /* Handle */
.SideBar::-webkit-scrollbar-thumb {
    background: var(--purple-fading); 
    border-radius: 50px;
  }
  
  /* Handle on hover */
.SideBar::-webkit-scrollbar-thumb:hover {
    background: var(--purple-fading-soft)
  }