@import '@renderer/assets/index.css';


.SideBar {
    width: 250px;
    display: flex;
    overflow-y: auto;
    background-color: var(--black);
    border-right: 1px solid var(--deep-black);
    flex-direction: column;
    padding: 10px;
}

.SideBar::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
.SideBar::-webkit-scrollbar-track {
    background: #00000000; 
  }
   
  /* Handle */
.SideBar::-webkit-scrollbar-thumb {
    background: var(--purple-fading); 
    border-radius: 50px;
  }

.SideBar::-webkit-scrollbar-thumb:hover {
  background: var(--purple-fading-soft); 
}
