@import '@renderer/assets/index.css';

.NavBar {
    height: 35px;
    background-color: var(--black);
    color: var(--white-soft);
    display: flex;
    justify-content: center;
    align-content: center;
    -webkit-app-region: drag;
}

.Image {
    width: 24px;
    height: 24px;
    margin: auto;
    margin-left: 15px;   
}

